<div class="col-md-offset-2 col-md-8">
    <h1 class="text-center">MSED</h1>
    <h2 class="text-center">MultiSport Equipment Dashboard</h2>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-6 text-center">
            <a href="/login" class="btn btn-default" role="button">Login</a>
        </div>
        <div class="col-md-6 text-center">
            <a href="/register" class="btn btn-danger" role="button">Register</a>
        </div>
    </div>
</div>
