<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title %></title>
    <% include templates %>
</head>
<body>
<header class="container">
    <% include templates %>
</header>
<div class="container">
    <div class="row">
        <h1 class="text-center">MSED Admin Dashboard</h1>

    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Users</h3>
            <h4>Active Users</h4>
            <img class="img-responsive" src="/assets/images/graph-placeholder.png">
            <!--TODO-->
            <h4>Passive Users</h4>
            <img class="img-responsive" src="/assets/images/graph-placeholder.png">
            <!--TODO-->
        </div>
        <div class="col-md-4">
            <h3>Server and System Logs</h3>
            <h4><% include templates %></h4>
            <img class="img-responsive" src="/assets/images/graph-placeholder.png">
            <!--TODO-->
        </div>
        <div class="col-md-4">
            <h3>Admin Column 3</h3>
            <h4>Some other admin data</h4>
            <img class="img-responsive" src="/assets/images/graph-placeholder.png">
            <!--TODO-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Admin Column 4</h3>
            <h4>Some other admin data</h4>
            <img class="img-responsive" src="/assets/images/graph-placeholder.png">
            <!--TODO-->
        </div>
        <div class="col-md-4">
            <h3>Admin Column 5</h3>
            <h4>Some other admin data</h4>
            <img class="img-responsive" src="/assets/images/graph-placeholder.png">
        </div>
        <div class="col-md-4">
            <h3>Admin Column 6</h3>
            <h4>Some other admin data</h4>
            <img class="img-responsive" src="/assets/images/graph-placeholder.png">
            <!--TODO-->
        </div>
    </div>
</div>

<% include templates %>
</body>
</html>