<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title %></title>
    <% include templates %>
</head>
<body>
<header class="container">
    <% include templates %>
</header>
<div class="container">
    <div class="row">
        <h1>MSED Linux System Log</h1>
        <code>Linux System Log: <%=linuxSystemLog %></code>
    </div>
</div>

<% include templates %>
</body>
</html>